@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: 2rem;
    color: v.$blanco;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    &.error{
        background-color: v.$rojo;
    }
    &.exito{
        background-color: v.$verde;
    }
    


}