@use 'base/mixins' as m;
@use 'base/variables' as v;

.tabs{
    @include m.tablet{
        display: flex;
    }
    button{
        background-color:  v.$azul;
        border:  none;
        padding: 1rem;
        color: v.$blanco;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        transition: background-color 300ms;
        
        &:hover{
            cursor: pointer;
            background-color: darken(v.$azul , 25%);
        }
        &.actual{
            background-color: v.$blanco;
            color:v.$azul ;
        }
    }
}
